{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="https://www.bridgelabz.com/assets/icons-remote/BridgeLabz%20New%20Logo.svg">
            </div>
            <ul>
                <li class="active"><a href="">Home</a></li>
                <li><a href="/show">Show</a></li>
            </ul>
        </div>
        <div class="title">
            <h1>Hello, Welcome To Greeting App :)</h1>
        </div>
        <div class="Detail">
            <form autocomplete="off" method="post" action = "">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Name : </label>
                        <textarea name="name" id="name" style="font-size:16pt"; cols="30" rows="1"></textarea>
                    </div>
                    <div class="form-group1">
                        <label for="message">Message : </label>
                        <textarea name="message" id="message" style="font-size:16pt"; cols="30" rows="5"></textarea>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </header>
</body>
</html>